<form action="/add" method="POST"> 
    <label for="username">Username</label>
    <input name="username" id="username" type="text">
    <br>
    <label for="email">E-mail</label>
    <input name="email" id="email" type="email">
    <br>
    <br>
    <button type="submit">Cadastrar</button>
</form>